<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'background-color.css' %}">   
    <title>Edit Book</title>
</head>
<body>
<h1 id="welcome-add">Welcome, {{ current_user.first_name }}</h1>
<h1>Edit Book</h1>
{% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
<a href= "/books">Go back</a> | <a id = "logout-add" href="/logout">Logout</a> 
<form action="/update/{{ clicked_book.id }}" method='POST'>
    {% csrf_token %}
    <label for="title">Title:</label>
    <input class="title" type="text" name = "title" value="{{ clicked_book.title }}">
    <br><br>
    <p>Added by: {{ clicked_book.upload_status.first_name }}</p>
    <p>Added on: {{ clicked_book.created_at }}</p>
    <p>Last updated: {{clicked_book.updated_at }}</p>
    <p class = "description">Description:</p>
    <textarea name="description">{{ clicked_book.description }}</textarea>
    <br><br> 
    <input type="submit" name ="update-btn" value="Update" id = "button"> | <a href= "/delete/{{ clicked_book.id }}">Delete</a>
    <br><br> 
</form>
<h1>Users who like this Book:</h1>
{% for user in book_likers %}
    <p> {{ user.first_name }} </p>
    {% if current_user.first_name == user.first_name %}
    <a href= "/unfavorite/{{ clicked_book.id }}">Unfavorite</a>
    {% endif %} 
{% endfor %}
</body>
</html> 