<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'background-color.css' %}">   
    <title>Books</title>
</head>
<body>
    <header id="add-header">
        <h1 id="welcome-add">Welcome, {{ current_user.first_name }}</h1>
        <a id = "logout-add" href="http://localhost:8000/logout">Logout</a>
    </header>
    <h1>Books </h1> <a href= "">Go back</a>
    <p>Title: {{ new_book.title }}</p>
    <p>Description: {{ new_book.description }}</p>
    <br><br><br>
    <p>Last Updated: {{ new_book.updated_at }}</p>
    <a href="http://localhost:8000/shows/{{ this_show.id }}/edit">Edit</a>
    <a href="http://localhost:8000/shows/{{ this_show.id }}/destroy">Delete</a>
    <h1>All Books</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for books in all_books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.description }}</td>
                <td><a href = "">Show</a></td><td><a href = "">Edit</a></td><td><a href = "">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html> 