<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'background-color.css' %}">   
    <title>Books</title>
</head>
<body>
    <header id="add-header">
        <h1 id="welcome-add">Welcome, {{ current_user.first_name }}</h1>
        <a id = "logout-add" href="/logout">Logout</a>
    </header>
    <div id="all-books-container">
        <div id="current-book">
            <h1>View Book</h1> <a href= "/books">Go back</a>
            <p>Title: {{ clicked_book.title }}</p>
            <p>Description: {{ clicked_book.description }}</p>
            <p>Last Updated: {{ clicked_book.updated_at }}</p>
        </div> 
        <div id="users-view">
            <h1>Users who like this Book:</h1>
            {% for user in book_likers %}
                <p> {{ user.first_name }} </p>
                {% if current_user.first_name == user.first_name %}
                <a href= "/unfavorite/{{ clicked_book.id }}">Unfavorite</a>
                {% endif %}
            {% endfor %}
        </div> 
    </div>
    <br><br>
    <a href = "/add_favorite_book/{{ clicked_book.id }} ">Add to favorites</a> 
</body>
</html> 