<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'background-color.css' %}">   
    <title>Books</title>
</head>
<body>
    <header id="add-header">
        <h1 id="welcome-add">Welcome, {{ current_user.first_name }}</h1>
        <a id = "logout-add" href="http://localhost:8000/logout">Logout</a>
    </header>
    <div id="all-books-container">
        <div id="current-book">
            <h1>Books</h1> <a href= "">Go back</a>
            <p>Title: {{ current_book.title }}</p>
            <p>Description: {{ current_book.description }}</p>
            <p>Last Updated: {{ current_book.updated_at }}</p>
            <a href="http://localhost:8000/shows/{{ this_show.id }}/edit">Edit</a>
            <a href="http://localhost:8000/shows/{{ this_show.id }}/destroy">Delete</a>
        </div>  
        <div id="all-books-mini">
            <h1>All Books</h1>
                {% for book in all_books %}
                    <p class="bold">{{ book.title }}<p>
                    <p>{{ book.description }}<p>
                    <div id="view-links">
                        <a href = "">Show</a> | <a href ="">Edit</a> | <a href = "">Delete</a>
                    </div>
                {% endfor %}
        </div>
    </div>
</body>
</html> 