body{
    background-color:rgb(148, 187, 148);
}

#add-header{
    display: flex;
}

#welcome-add{
    flex: 1;

}

#logout-add{
    margin-top: 20px;
    flex: 1;
}

#all-books-container{
    display: flex;
}

#current-book{
    flex: 1;
}

#users-view{
    flex: 1;
}
#add-form{
    flex:1;
}

#all-books-add{
    flex:1;
}

.bold{
    margin-top: 20px;
    font-weight:bolder;
}

#add-book-container{
    display: flex;
}

.italics{
    font-style: italic;
}

.sub{
    margin-top: 0px;
    margin-bottom: 0px;
}
